html {
    height: 70%;
}

body {
    padding: 0;
    margin: 0;
    height: 70%;
}

.game {
    // padding-top: 10px;
    // padding-left: 15%;
    display: flex;
    margin: auto;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // justify-content: flex-start;
    // position: relative;
    height: 85vh;
    justify-content: center;
    align-items: center;
    .board {
        float: left;
    }
    .buttonBlock {
        float: right;
    }
    h4 {
        // font-family: 'FGG';
        font-size: 24px;
        margin-bottom: 20px;
    }
    p {
        font-size: 10px;
    }

    .next-step,
    .winner {
        // position: absolute;
        font-size: 20px;
        margin: 10px;
        top: 40px;
        right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        span {
            // font-family: 'FGG';
            margin-right: 10px;
        }

        button {
            border-style: none;
            outline: 0;
            width: 26px;
            height: 26px;
            border-radius: 13px;
        }
    }

    .board {
        background: url('./assets/images/board_bg.png');
        background-size: cover;
        background-color: #56bc48;
        border-color: #2ea738;
        border-radius: 10px;
        position: relative;
        height: min-content;

        .chess-wrap {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button.chess {
                border-style: none;
                outline: none;
                padding: 0;
                background-size: contain;
            }

            .green-dot {
                position: absolute;
                background-image: radial-gradient(at 80px 80px, rgba(0, 255, 0, 0.7), rgba(0, 255, 0, 0.7));
            }

            .red-dot {
                position: absolute;
                background-image: radial-gradient(at 80px 80px, rgba(255, 0, 0, 0.7), rgba(255, 0, 0, 0.7));
            }
        }
    }
    label {
        font-size: 25px;
    }
    .player {
        margin-left: 15px;
        .btns {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 25px;
            margin-bottom: 25px;
            .btnItem {
                width: 25%;
                margin: 1vh;
                margin-right: 5px;
            }
            svg:hover {
                color: rgb(101, 105, 101);
            }
        }
    }
    .nameList {
        display: flex;
        min-width: 50vh;
        flex-direction: column;
        border-width: 2px;
        border-style: solid;
        border-color: #9396996f;
        border-radius: 10px;
        margin-bottom: 10px;
        height: 130px;
        .up {
            margin-left: 5px;
            height: 50%;
            display: flex;
            align-items: center;
        }
    }
}
